## 검색량

* 기존 축제 중 검색량이 가장 많은 것이 무엇일까 ?
* 1차적인 생각 --> 검색량이 많다면, 인기도 많을 것이다

In [1]:
import pandas as pd

In [5]:
fest = pd.read_csv('../data/festival_search_data/DM_CLTUR_FSTVL_SCCNT_RESULT_202403.csv')
fest.head()

,SEQ_NO,SCCNT_YM,ORIGIN_ID,REPRSNT_KWRD_NM,SRCHWRD_NM,SCCNT_VALUE,ORIGIN_CL_NM
0,42366,2024-03,997,2014 안양시민축제,안양시민축제,60,문화축제
1,42367,2024-03,992,2015 안양 시민축제,안양시민축제,60,문화축제
2,42368,2024-03,396,2016 대가야체험축제,대가야체험축제,450,문화축제
3,42369,2024-03,945,2016 대구약령시한방문화축제,대구약령시한방문화축제,240,문화축제
4,42370,2024-03,994,2016 안양 시민축제,안양시민축제,60,문화축제

In [15]:
fest.shape

(580, 7)

In [19]:
fest["ORIGIN_CL_NM"].value_counts()

ORIGIN_CL_NM
문화축제    580
Name: count, dtype: int64

In [21]:
fest1 = fest[['SRCHWRD_NM', 'SCCNT_VALUE']]
fest1

      SRCHWRD_NM  SCCNT_VALUE
0         안양시민축제           60
1         안양시민축제           60
2        대가야체험축제          450
3    대구약령시한방문화축제          240
4         안양시민축제           60
..           ...          ...
575       횡성한우축제         2060
576      효문화뿌리축제           38
577      흑산도홍어축제           54
578       흑석산철쭉제           80
579          흥부제           70

[580 rows x 2 columns]

In [29]:
fest2 = fest1.groupby(["SRCHWRD_NM"])["SCCNT_VALUE"].sum().to_frame().reset_index()
fest2

     SRCHWRD_NM  SCCNT_VALUE
0       31민속문화제           24
1    419혁명국민문화제         1730
2      DMZ마라톤대회           16
3        가야문화축제         1790
4      가파도청보리축제        13860
..          ...          ...
502      횡성한우축제         2060
503     효문화뿌리축제           38
504     흑산도홍어축제           54
505      흑석산철쭉제           80
506         흥부제           70

[507 rows x 2 columns]

In [37]:
fest2 = fest2.sort_values(by='SCCNT_VALUE', ascending=False)
fest2

       SRCHWRD_NM  SCCNT_VALUE
62         광양매화축제       779300
416         진해군항제       758500
102        논산딸기축제       513200
336        원동매화축제       106230
478        함안낙화놀이        95900
..            ...          ...
239         설화예술제           11
443        춘천인음악회           11
269  안산사이언스밸리과학축제           10
98       남이흥장군문화제           10
410      진안고원수박축제           10

[507 rows x 2 columns]

In [44]:
fest2.head(20)

     SRCHWRD_NM  SCCNT_VALUE
62       광양매화축제       779300
416       진해군항제       758500
102      논산딸기축제       513200
336      원동매화축제       106230
478      함안낙화놀이        95900
234    석촌호수벚꽃축제        77000
128     대청호벚꽃축제        74800
390      정읍벚꽃축제        67200
492  홍성남당항새조개축제        66320
297      영덕대게축제        57060
356  이천백사산수유꽃축제        56790
249       수선화축제        51380
36     고려산진달래축제        41930
308    영암왕인문화축제        33340
76       군포철쭉축제        23940
379     전주국제영화제        22840
19       강진청자축제        18920
33      계룡산벚꽃축제        17700
305  영등포여의도봄꽃축제        17290
368     장고항실치축제        14370

* 매화축제, 벚꽃축제 등 꽃구경하러 가는 경우가 많은 것으로 파악
* 이외에는 군항제, 딸기축제, 대게 및 새조개 축제 등으로 파악이됨
* 내수시장을 다지기엔 꽃 축제 등을 많이 활성화시키는 것이 좋지않을까 ?

## 2차적인 생각

* 내수시장을 잡는 것이 중요하다
    * 여행을 많이가게 하는 것이 좋을까?.. 아니라면, 기존에 가는 사람이 더 자주 가게하는 것이 좋을까?
        * 하지만 지역 축제는 1년에 1~2회 정도 열림, 자주열리는것이 아니기 때문에.. 한정된 일자에 많이가게 하는 것이 중요할 듯으로 보임
* 사람들이 축제를 많이 가게 하려면 무엇이 필요할까?
    * 여행과 관련지어 생각을 해야할까?
    * 여행자 특성을 먼저 확인해보는 것..?

In [69]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ------------ --------------------------- 30.7/96.5 kB 1.3 MB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.5 kB 487.6 kB/s eta 0:00:01
   ------------------------- -------------- 61.4/96.5 kB 544.7 kB/s eta 0:00:01
   --------------------------------- ------ 81.9/96.5 kB 508.4 kB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 501.7 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [73]:
columns_explain = pd.read_excel('../data/traveler_character_data/국내여행자 특성_컬럼정의서.xls')
columns_explain

   순서                   컬럼영문명      컬럼한글명    데이터타입    길이 PK여부 NOT NULL여부
0   1               EXAMIN_YM       조사년월  VARCHAR     6    Y          Y
1   2  RESPOND_CHARTR_SDIV_ID  응답자특성구분ID  VARCHAR    50    Y          Y
2   3  RESPOND_CHARTR_SDIV_NM   응답자특성구분명  VARCHAR   200    N          Y
3   4              RSPNS_RATE       응답비율  DECIMAL  28,5    N          Y

In [75]:
travel = pd.read_csv('../data/traveler_character_data/CI_DMSTC_PASSNGR_CHARTR_INFO_202405.csv')
travel

    EXAMIN_YM RESPOND_CHARTR_SDIV_ID RESPOND_CHARTR_SDIV_NM  RSPNS_RATE
0      202405              SEXDSTN_M                     남성        53.7
1      202405              SEXDSTN_F                     여성        46.3
2      202405               AGRDE_20                    20대        16.7
3      202405               AGRDE_30                    30대        17.1
4      202405               AGRDE_40                    40대        22.5
5      202405               AGRDE_50                    50대        23.0
6      202405               AGRDE_60                    60대        20.6
7      202405             OC_AREA_SU             거주지역_서울특별시        19.5
8      202405             OC_AREA_BS             거주지역_부산광역시         6.6
9      202405             OC_AREA_DG             거주지역_대구광역시         4.8
10     202405             OC_AREA_IC             거주지역_인천광역시         6.0
11     202405             OC_AREA_GJ             거주지역_광주광역시         2.6
12     202405             OC_AREA_DJ             거주지역_대전광역시         2.5
13     202405             OC_AREA_US             거주지역_울산광역시         2.1
14     202405             OC_AREA_GG               거주지역_경기도        26.5
15     202405             OC_AREA_GW               거주지역_강원도         2.9
16     202405           OC_AREA_CHNB              거주지역_충청북도         3.0
17     202405        OC_AREA_CHNN_SJ      거주지역_충청남도(세종시 포함)         5.0
18     202405           OC_AREA_JLBK              거주지역_전라북도         2.9
19     202405           OC_AREA_JLNM              거주지역_전라남도         3.4
20     202405           OC_AREA_GYNB              거주지역_경상북도         4.6
21     202405           OC_AREA_GYNN              거주지역_경상남도         6.3
22     202405             OC_AREA_JJ           거주지역_제주특별자치도         1.1
23     202405       HSHLD_INCOME_300               300만원 미만        12.8
24     202405   HSHLD_INCOME_300_500          300이상500만원 미만        26.7
25     202405   HSHLD_INCOME_500_700          500이상700만원 미만        28.4
26     202405       HSHLD_INCOME_700               700만원 이상        32.1
27     202405                 JOB_SE                    자영업         6.9
28     202405                 JOB_SL                판매/서비스직         5.8
29     202405                JOB_GMW            기능/숙련/일반작업직         9.7
30     202405                 JOB_WC                 사무/기술직        40.6
31     202405                 JOB_BM              경영/관리/전문직         5.0
32     202405                 JOB_HW                   전업주부        12.2
33     202405                 JOB_GS                대학/대학원생         5.0
34     202405                JOB_ETC                  기타/무직        14.8
35     202405                MRST_UM                     미혼        30.6
36     202405                MRST_NK             신혼기(자녀 없음)         7.4
37     202405             MRST_KD_EL   자녀 유아&성장(막내 입학전~초등생)        17.7
38     202405             MRST_KD_MD          자녀 성장(막내 중고생)         8.7
39     202405             MRST_KD_CL           자녀 성인(막내 대학)        26.7
40     202405             MRST_KD_MR           자녀 독립(막내 결혼)         8.9

* 2030세대 < 4050세대
* 연결적으로, 자녀가 있는 비율이 미혼 비율보다 많다.
* 2030의 비율이 상대적으로 적다, 이를 늘려야 할 듯으로 보임
    * 아니면, 비율이 많은 4050세대를 더 적극적으로 밀어주는 것이 좋을까?